.container{
    margin-top: 40px;
}
.heading{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.box-1{
    width: 544px;
    margin-bottom: 30px;
}
.box-2{
    width: 544px;
    margin-bottom: 30px;
}
h6{
    text-align: center;
    color: #f60838;
}
.box-left{
    float: left;
}
.box-right{
    float: right;
}
.engine-data{
    margin:0;
}
.feature-name{
    width: 250px;
    text-align: left;
}
.feature-data{
    width: 264px;
    display: flex;
    text-align: right;
    float: right;
}
