.Footer{
    background-color: #000;
    color: #fff;
    padding: 2rem 0;
}
.ft-1 h4{
    color: #f60838;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0.5rem 0;
}
.ft-1 p{
    padding: 0.5rem 2rem 1rem 0;
}
.footer-icons i {
    margin-top: 20px;
    margin-right: 10px;
    padding: 0.5rem;
    background: #fff;
    color: #f60838;
    border-radius: 50px;
    margin-bottom: 30px;
}
.footer-icons i:hover{
    background: #f60838;
    color: #fff;
    transition: 0.6s;
    cursor: pointer;
}
.ft-3{
    color: #f60838;
}
.ft-2 h5{
    color: #f60838;
}
.ft-2 ul{
    margin-top: 30px;
}
.ft-4 .contact{
    margin-top: 30px;
}
.ft-4 h5{
    color: #f60838;
}
.ft-4 i{
    margin-right: 10px;
}
.footer-wrap{
    text-align: center;
    background: #f60838;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-wrap p{
    color: #fff;
    font-size: medium;
    font-weight: 700;
    margin-bottom: 0;
}
